*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/images/background-image.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: sans-serif; 
}